.equipmentContainer {
    border:1px solid;
    width:300px;
    margin: 15px;
    border: 1px solid #c3bebe;
  -webkit-box-shadow: 0 9px 10px #9f9b9b;
  -moz-box-shadow: 0 9px 10px #9f9b9b;
  box-shadow: 0 9px 10px #9f9b9b;
}

.container_wrapper .equipmentCatalogBtn{
    background: #0087e3;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position:relative;
    cursor: pointer;
}
.container_wrapper .equipmentCatalogBtn svg{
    position: absolute;
    right:10px;
}

.equipmentContainer .equipmentImageContainer{
    height:305px;
}